<div class="container">
  <header class="login-header">
    <section class="login-buttons">
      <button type="submit" id="presidentLoginButton">Login as<br>President</button>
      <button type="submit" id="firstLadyLoginButton">Login as<br>First Lady</button>
    </section>
  </header>
  <main id="main">
    <nav class="top-nav">
      <button id="scienceButton" class="nav-button active">
        <i class="fa-solid fa-flask top-nav-icon"></i>
      </button>
      <button id="constructionButton" class="nav-button">
        <i class="fa-solid fa-hammer top-nav-icon"></i>
      </button>
      <button id="troopButton" class="nav-button">
        <i class="fa-solid fa-person-military-rifle top-nav-icon"></i>
      </button>
      <button id="healButton" class="nav-button">
        <i class="fa-solid fa-house-medical  top-nav-icon"></i>
      </button>
    </nav>
    <section class="main-container science-container science-mode">

    </section>
    <section class="main-container construction-container">

    </section>
  </main>
  <footer class="footer">
    <nav class="footer-nav">
      <button class="footer-nav-button">
        <i class="fa-solid fa-people-arrows footer-nav-icon"></i>
      </button>
      <button id="gearButton" class="footer-nav-button">
        <i class="fa-solid fa-gear footer-nav-icon"></i>
      </button>
      <button class="footer-nav-button">
        <i class="fa-solid fa-bug footer-nav-icon"></i>
      </button>
      <button class="footer-nav-button">
        <i class="fa-solid fa-computer footer-nav-icon"></i>
      </button>
    </nav>
    <section id="versionText" class="version-text">
      v0.1
    </section>
  </footer>
</div>