<div class="container">
  <header class="login-header">
    <section class="login-buttons">
      <button type="submit" id="presidentLoginButton">Login as<br>President</button>
      <button type="submit" id="firstLadyLoginButton">Login as<br>First Lady</button>
    </section>
  </header>
  <main id="main">
    <nav class="top-nav">
      <button id="scienceButton" class="nav-button active">
        <i class="fa-solid fa-flask top-nav-icon"></i>
      </button>
      <button id="constructionButton" class="nav-button">
        <i class="fa-solid fa-hammer top-nav-icon"></i>
      </button>
      <button id="troopButton" class="nav-button">
        <i class="fa-solid fa-person-military-rifle top-nav-icon"></i>
      </button>
      <button id="healButton" class="nav-button">
        <i class="fa-solid fa-house-medical  top-nav-icon"></i>
      </button>
    </nav>
    <section class="main-container">
      <section id="scienceContainer" class="table-container science-container active">
        <table id="scienceTable" class="table science-table">
          <tr class="table-header">
            <th class="table-sequence first-sequence">1</th>
            <th class="table-name">kreamynougat</th>
            <th class="table-eta">00:00</th>
            <th class="table-skip">
              <i class="fa-solid fa-xmark"></i>
            </th>
          </tr>
          <tr class="table-row">
            <td class="table-sequence">2</td>
            <td class="table-name">TauSTauS</td>
            <td class="table-eta">10:00</td>
            <td class="table-skip">
              <i class="fa-solid fa-xmark"></i>
            </td>
          </tr>
          <tr class="table-row">
            <td class="table-sequence">3</td>
            <td class="table-name">TauSTauS</td>
            <td class="table-eta">10:00</td>
            <td class="table-skip">
              <i class="fa-solid fa-xmark"></i>
            </td>
          </tr>
          <tr class="table-row">
            <td class="table-sequence">4</td>
            <td class="table-name">TauSTauS</td>
            <td class="table-eta">10:00</td>
            <td class="table-skip">
              <i class="fa-solid fa-xmark"></i>
            </td>
          </tr>
          <tr class="table-row">
            <td class="table-sequence">5</td>
            <td class="table-name">TauSTauS</td>
            <td class="table-eta">10:00</td>
            <td class="table-skip">
              <i class="fa-solid fa-xmark"></i>
            </td>
          </tr>
          <tr class="table-row">
            <td class="table-sequence">6</td>
            <td class="table-name">TauSTauS</td>
            <td class="table-eta">10:00</td>
            <td class="table-skip">
              <i class="fa-solid fa-xmark"></i>
            </td>
          </tr>
          <tr class="table-row">
            <td class="table-sequence">7</td>
            <td class="table-name">TauSTauS</td>
            <td class="table-eta">10:00</td>
            <td class="table-skip">
              <i class="fa-solid fa-xmark"></i>
            </td>
          </tr>
          <tr class="table-row">
            <td class="table-sequence">8</td>
            <td class="table-name">TauSTauS</td>
            <td class="table-eta">10:00</td>
            <td class="table-skip">
              <i class="fa-solid fa-xmark"></i>
            </td>
          </tr>
          <tr class="table-row">
            <td class="table-sequence">9</td>
            <td class="table-name">TauSTauS</td>
            <td class="table-eta">10:00</td>
            <td class="table-skip">
              <i class="fa-solid fa-xmark"></i>
            </td>
          </tr>
          <tr class="table-row">
            <td class="table-sequence">10</td>
            <td class="table-name">TauSTauS</td>
            <td class="table-eta">10:00</td>
            <td class="table-skip">
              <i class="fa-solid fa-xmark"></i>
            </td>
          </tr>
          <tr class="table-row">
            <td class="table-sequence">11</td>
            <td class="table-name">TauSTauS</td>
            <td class="table-eta">10:00</td>
            <td class="table-skip">
              <i class="fa-solid fa-xmark"></i>
            </td>
          </tr>
          <tr class="table-row">
            <td class="table-sequence">12</td>
            <td class="table-name">TauSTauS</td>
            <td class="table-eta">10:00</td>
            <td class="table-skip">
              <i class="fa-solid fa-xmark"></i>
            </td>
          </tr>
          <tr class="table-row">
            <td class="table-sequence">13</td>
            <td class="table-name">TauSTauS</td>
            <td class="table-eta">10:00</td>
            <td class="table-skip">
              <i class="fa-solid fa-xmark"></i>
            </td>
          </tr>
          <tr class="table-row">
            <td class="table-sequence">14</td>
            <td class="table-name">TauSTauS</td>
            <td class="table-eta">10:00</td>
            <td class="table-skip">
              <i class="fa-solid fa-xmark"></i>
            </td>
          </tr>
        </table>
      </section>
      <section id="constructionContainer" class="table-container construction-container">
        CONSTRUCTION
      </section>
      <section id="troopContainer" class="table-container troop-container">
        TROOP
      </section>
      <section id="healContainer" class="table-container heal-container">
        HEAL
      </section>
    </section>
  </main>
  <footer class="footer">
    <nav class="footer-nav">
      <button class="footer-nav-button">
        <i class="fa-solid fa-people-arrows footer-nav-icon"></i>
      </button>
      <button id="gearButton" class="footer-nav-button">
        <i class="fa-solid fa-gear footer-nav-icon"></i>
      </button>
      <button id="bugReportButton" class="footer-nav-button">
        <i class="fa-solid fa-bug footer-nav-icon"></i>
      </button>
      <button class="footer-nav-button">
        <i class="fa-solid fa-computer footer-nav-icon"></i>
      </button>
    </nav>
    <section id="versionText" class="version-text">
      v0.1
    </section>
  </footer>
</div>
<script src="/index.js"></script>