<div class="container">
  <header class="login-header">
    <section class="login-buttons">
      <button type="submit" id="presidentLoginButton">Login as<br>President</button>
      <button type="submit" id="firstLadyLoginButton">Login as<br>First Lady</button>
    </section>
  </header>
  <main id="main">
    <nav class="nav-container">
      <button id="scienceButton" class="nav-button active"><i class="fa-solid fa-flask"></i>Science</button>
      <button id="constructionButton" class="nav-button"><i class="fa-solid fa-hammer"></i>Construction</button>
    </nav>
    <section class="main-container science-container science-mode">

    </section>
    <section class="main-container construction-container">

    </section>
  </main>
  <footer class="footer">
    v0.1
  </footer>
</div>