html {
  font-family: 'Roboto', sans-serif;
  color: var(--white);
}

button {
  font-family: 'Roboto', sans-serif;
}

.login-buttons button {
  font-size: 1.3rem;
  color: var(--white);
}

.table {
  font-size: 1.3rem;
}

#versionText {
  color: var(--black);
}

:root {
  --light-green: #78A083;
  --black: #111;
  --white: #eaeaea;
}