* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  white-space: nowrap;
}

html {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  margin: 0;
  padding: 12px var(--side-margin);
  text-align: center;
}

body {
  background-image: linear-gradient(
    to bottom right,
    var(--black),
    var(--dark-blue)
  );
}

.login-buttons,
.top-nav,
.footer-nav {
  width: 100%;
  margin-top: 16px;
  display: inline-flex;
  justify-content: space-between;
}

button {
  width: 47%;
  padding: 8px;
  height: 72px;
  border-radius: 8px;
  border: 0;
  outline: 0;
  cursor: pointer;
  background: var(--dark-green);
}

.nav-button {
  width: 20%;
  background: var(--light-blue);
  height: 72px;
  border-radius: 8px 8px 0 0;
}

.nav-button.active {
  background: var(--light-green);
}

.top-nav-icon {
  color: var(--black);
}

.top-nav-icon,
.footer-nav-icon {
  font-size: 2.2rem;
}

.main-container {
  background: var(--light-green);
  position: absolute;
  top: 242px;
  right: var(--side-margin);
  bottom: 108px;
  left: var(--side-margin);
}

.science-container {
  border-radius: 0 8px 8px 8px;
  z-index: 1;
}

.construction-container {
  background: var(--light-blue);
  border-radius: 8px 0 8px 8px;
  z-index: 0;
}

.footer {
  height: 108px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.footer-nav {
  height: 72px;
  padding: 0 var(--side-margin);
}

.footer-nav-button {
  width: 20%;
  min-height: 72px;
  max-height: 72px;
}

.footer-nav-icon {
  color: var(--light-green);
}

#versionText {
  position: fixed;
  right: 0;
  bottom: 0;
}

:root{
  --black: #111;
  --white: #eaeaea;
  --dark-blue: #35374B;
  --dark-green: #344955;
  --light-blue: #50727B;
  --light-green: #78A083;
  --side-margin: 20px;
}