* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  white-space: nowrap;
}

html {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  margin: 0;
  padding: 12px var(--side-margin);
  text-align: center;
}

body {
  background-image: linear-gradient(
    to bottom right,
    var(--black),
    var(--dark-blue)
  );
}

#infoButton {
  min-width: 48px;
  max-width: 48px;
  min-height: 48px;
  max-height: 48px;
  font-size: 1.8rem;
  background: transparent;
  position: fixed;
  color: var(--white-trans);
  top: 4px;
  right: 4px;
}

.login-buttons,
.top-nav,
.footer-nav {
  width: 100%;
  margin-top: 16px;
  display: inline-flex;
  justify-content: space-between;
}

button {
  width: 47%;
  padding: 8px;
  height: 72px;
  border-radius: 8px;
  border: 0;
  outline: 0;
  cursor: pointer;
  background: var(--dark-green);
}

.nav-button {
  width: 20%;
  background: var(--light-blue);
  height: 72px;
  border-radius: 8px 8px 0 0;
}

.nav-button.active {
  background: var(--light-green);
}

.top-nav-icon {
  color: var(--black);
}

.top-nav-icon,
.footer-nav-icon {
  font-size: 2.2rem;
}

.table-container {
  position: absolute;
  border-radius: 0 0 8px 8px;
  background: var(--light-blue);
  top: 242px;
  bottom: 108px;
  right: var(--side-margin);
  left: var(--side-margin);
  z-index: 0;
  overflow: auto;
}

.table-container.active {
  background: var(--light-green);
  z-index: 1;
}

.science-container {
  border-radius: 0 8px 8px 8px;
}

.construction-container,
.troop-container {
  border-radius: 8px;
}

.heal-container {
  border-radius: 8px 0 8px 8px;
}

.table {
  width: 100%;
}

.table-header,
.table-row {
  height: 44px;
}

.table-header,
.table-row:nth-child(odd) {
  background: var(--table-row-color-odd);
}

.table-sequence {
  min-width: 36px;
  width: 36px;
  max-width: 36px;
}

.first-sequence {
  border-radius: 8px 0 0 0;
}

.table-skip {
  font-size: 1.7rem;
  min-width: 44px;
  width: 44px;
  max-width: 44px;
  border-radius: 0 8px 8px 0;
  color: var(--inactive-skip-marker);
  background: var(--inactive-skip);
}

.table-skip.active {
  background: var(--red);
}

.footer {
  height: 108px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.footer-nav {
  height: 72px;
  padding: 0 var(--side-margin);
}

.footer-nav-button {
  width: 20%;
  min-height: 72px;
  max-height: 72px;
}

.footer-nav-icon {
  color: var(--light-green);
}

#versionText {
  position: fixed;
  right: 0;
  bottom: 0;
}

:root{
  --black: #111;
  --white: #eaeaea;
  --white-trans: #eaeaea55;
  --dark-blue: #35374B;
  --dark-green: #344955;
  --light-blue: #50727B;
  --light-green: #78A083;
  --red: #9a1b1b;
  --inactive-skip: #666666;
  --inactive-skip-marker: #8d8d8d;
  --side-margin: 20px;
  --table-row-color-odd: #48484869;
}